<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.14/vuetify.css" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
		<title>API Name - Documentation</title>
	</head>

	<body>
		<div id="app">
			<v-app>
				<v-navigation-drawer v-model="drawer" :mini-variant.sync="mini" app>
					<v-toolbar flat class="transparent">
						<v-list class="pa-0">
							<v-list-tile avatar>
								<v-list-tile-avatar>
									<img src="https://avatars2.githubusercontent.com/u/8260015?s=460&v=4" />
								</v-list-tile-avatar>

								<v-list-tile-content>
									<v-list-tile-title>Guilherme Vieira</v-list-tile-title>
								</v-list-tile-content>

								<v-list-tile-action>
									<v-btn icon @click.stop="mini = !mini">
										<v-icon>chevron_left</v-icon>
									</v-btn>
								</v-list-tile-action>
							</v-list-tile>
						</v-list>
					</v-toolbar>

					<v-list class="pt-0" dense>
						<v-divider></v-divider>

						<v-list-tile v-for="item in items" :key="item.title" @click="">
							<v-list-tile-action>
								<v-icon>{{ item.icon }}</v-icon>
							</v-list-tile-action>

							<v-list-tile-content>
								<v-list-tile-title>{{ item.title }}</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>

						<v-list-group prepend-icon="language">
							<template v-slot:activator>
								<v-list-tile>
									<v-list-tile-title>Routes</v-list-tile-title>
								</v-list-tile>
							</template>

							<v-list-tile :href="'#'+route.method +route.url" v-for="route of resolved.reduce( (a,b) => [...a,...b.routes], [])">
								<v-list-tile-title>{{ route.description || route.url }}</v-list-tile-title>
							</v-list-tile>
						</v-list-group>
					</v-list>
				</v-navigation-drawer>
				<v-content>
					<v-container>
						<v-layout fill-height column>
							<h1>API Name</h1>
							<v-btn @click="openCloseAll(true)">Open</v-btn>
							<v-btn @click="openCloseAll(false)">Close</v-btn>
							<v-expansion-panel expand v-model="panels.groups">
								<v-expansion-panel-content v-for="group in resolved" :key="group.groupName">
									<template v-slot:header>
										<div class="group-header-background">
											<h2>
												{{ group.groupName }}
											</h2>
										</div>
									</template>
									<v-expansion-panel expand v-model="panels.group[group.groupName]">
										<v-expansion-panel-content v-for="route of group.routes" :key="route.method + route.url">
											<template v-slot:header>
												<div class="route-header-background" :class="route.method">
													<h3 :id="route.method+route.url">
														{{ route.method }} {{ route.url }} {{ route.description ? ' - ' + route.description : '' }}
													</h3>
												</div>
											</template>
											<v-card :style="{'background-color': getColor(route.method, '33') }">
												<v-card-text>
													<div v-if="route.paramsInfo || route.queryInfos" class="pa-3 elevation-3 mb-3">
														<div v-if="route.paramsInfo">
															<h3>Params</h3>
															<h4 v-for="param of route.params">{{ param }}: {{ route.paramsInfo[param] }}</h4>
														</div>

														<div v-if="route.queryInfos">
															<h3>Query infos</h3>
															<h4 v-for="param of route.query">{{ param }}: {{ route.queryInfos[param] }}</h4>
														</div>
													</div>
													<div class="mb-2 pa-3 elevation-3" v-if="route.body">
														<h3>Body</h3>
														<h4>Content-type: {{ route.body.contentType }}</h4>
														<code v-if="route.body.contentType == 'json'">{{
															JSON.stringify(route.body.json, null, 2)
														}}</code>
													</div>

													<div class="mb-2 pa-3 elevation-3" v-if="route.responses.length > 0">
														<h3>Responses</h3>
														<div v-for="response of route.responses">
															<h4>Code: {{ response.code }} Content-Type: {{ response.contentType }}</h4>
															<div v-if="response.contentType == 'json'">
																<code>{{ response.json }}</code>
															</div>

															<div v-if="response.headers">
																<h4>Headers</h4>

																<h4 v-for="header of Object.keys(response.headers)">
																	{{ header }} - {{ response.headers[header] }}
																</h4>
															</div>
															<v-divider class="my-2"></v-divider>
														</div>
													</div>
												</v-card-text>
											</v-card>
										</v-expansion-panel-content>
									</v-expansion-panel>
								</v-expansion-panel-content>
							</v-expansion-panel>

							<gdrawer title="Call it">
								<div v-if="clickedRoute">
									{{ clickedRoute.url }}
								</div>
								<div v-else>
									Por favor, selecione uma rota
								</div>
							</gdrawer>
						</v-layout>
					</v-container>
				</v-content>
			</v-app>
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.14/vuetify.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-stripe-elements@0.2.3/dist/index.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
		<script src="https://js.stripe.com/v3/"></script>
		<script src="resolved.js"></script>
		<script src="components/drawer.js"></script>
		<script>
			let Axios = axios.create({ baseURL: 'http://localhost/api', withCredentials: true })

			new Vue({
				el: '#app',
				components: {
					gdrawer
				},
				data: () => ({
					panels: {
						group: {},
						groups: []
					},
					clickedRoute: null,
					drawer: true,
					items: [{ title: 'Home', icon: 'dashboard' }, { title: 'About', icon: 'question_answer' }],
					mini: true,
					right: null,
					resolved
				}),
				mounted() {
					this.panels.groups = new Array(resolved.length).fill(false)
					for (let [i, group] of resolved.entries()) {
						this.panels.group[group.groupName] = new Array(group.routes.length).fill(false)
					}

					let nodes = document.querySelectorAll('.route-header-background')
					for (let node of nodes) {
						node.parentElement.style.backgroundColor = this.getColor(node.classList[1])
						node.parentElement.parentElement.style.borderColor = this.getColor(node.classList[1], '88')
					}
					nodes = document.querySelectorAll('.group-header-background')
					for (let node of nodes) {
						node.parentElement.style.backgroundColor = '#add8e6'
						node.parentElement.parentElement.style.borderColor = '#add8e655'
					}
				},
				methods: {
					darkenLighten(col, amt) {
						var usePound = false

						if (col[0] == '#') {
							col = col.slice(1)
							usePound = true
						}

						var num = parseInt(col, 16)

						var r, g, b, a
						if (num <= 0xffffff) {
							r = (num >> 16) + amt
							g = ((num >>> 8) & 0xff) + amt
							b = (num & 0xff) + amt
						} else {
							r = (num >>> 24) + amt
							g = ((num >>> 16) & 0xff) + amt
							b = ((num >>> 8) & 0xff) + amt
							a = num & 0xff
						}
						r = this.maxMin255(r)
						g = this.maxMin255(g)
						b = this.maxMin255(b)
						a = this.maxMin255(a)

						// console.log(r, g, b, a, num, col, (0xffffff > num).toString(16))

						let v =
							r.toString(16).padStart(2, 0) +
							'' +
							g.toString(16).padStart(2, 0) +
							'' +
							b.toString(16).padStart(2, 0) +
							'' +
							(a ? a.toString(16).padStart(2, 0) : '')

						return (usePound ? '#' : '') + v
					},
					maxMin255(x) {
						if (x > 255) return 255
						if (x < 0) return 0
						return x
					},
					openCloseAll(changeTo) {
						this.panels.groups = new Array(this.panels.groups.length).fill(changeTo)
						for (let groupName of Object.keys(this.panels.group)) {
							this.panels.group[groupName] = new Array(this.panels.group[groupName].length).fill(changeTo)
						}
					},
					botao(mensagem) {
						alert(mensagem)
					},
					getColor(method, opacity = 'cc') {
						switch (method) {
							case 'POST':
								return '#1976d2' + opacity
							case 'GET':
								return '#4caf50' + opacity
							case 'DELETE':
								return '#f44336' + opacity
							case 'PUT':
								return '#fb8c00' + opacity
						}
					},
					handleErrors(error) {
						console.log(error)
						if (error.response.data.errors) {
							error.response.data.errors.forEach(element => {
								toastr.error(element.message)
							})
						} else if (error.response.data.message) {
							toastr.error(error.response.data.message)
						} else {
							toastr.error('Unexpected error:')
						}
					}
				}
			})
		</script>
		<style>
			.border {
				border: 1px solid red;
			}
			code {
				width: 100%;
				margin: 5px;
				padding: 10px;
			}
			code::before {
				content: '';
			}
			.application {
				font-family: monospace;
			}
			/* * {
				transition: none !important;
			} */
		</style>
	</body>
</html>
