<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
	</head>

	<body>
		<div id="app">
			<v-app>
				<v-content>
					<v-layout>
						<v-navigation-drawer v-model="drawer" :mini-variant.sync="mini" hide-overlay stateless>
							<v-toolbar flat class="transparent">
								<v-list class="pa-0">
									<v-list-tile avatar>
										<v-list-tile-avatar>
											<img src="https://randomuser.me/api/portraits/men/85.jpg" />
										</v-list-tile-avatar>

										<v-list-tile-content>
											<v-list-tile-title>John Leider</v-list-tile-title>
										</v-list-tile-content>

										<v-list-tile-action>
											<v-btn icon @click.stop="mini = !mini">
												<v-icon>chevron_left</v-icon>
											</v-btn>
										</v-list-tile-action>
									</v-list-tile>
								</v-list>
							</v-toolbar>

							<v-list class="pt-0" dense>
								<v-divider></v-divider>

								<v-list-tile v-for="item in items" :key="item.title" @click="">
									<v-list-tile-action>
										<v-icon>{{ item.icon }}</v-icon>
									</v-list-tile-action>

									<v-list-tile-content>
										<v-list-tile-title>{{ item.title }}</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
							</v-list>
						</v-navigation-drawer>
						<v-layout>
							<v-flex xs8 pa-3 class="border">
								<h1>API Name</h1>

								<div v-for="route in resolved">
									<h2>{{ route.url }} - {{ route.description }}</h2>

									<div v-if="route.paramsInfo">
										<h3>Params</h3>
										<h4 v-for="param of route.params">{{ param }}: {{ route.paramsInfo[param] }}</h4>
									</div>

									<div v-if="route.queryInfos">
										<h3>Query infos</h3>
										<h4 v-for="param of route.query">{{ param }}: {{ route.queryInfos[param] }}</h4>
									</div>

									<div v-if="route.body">
										<h3>Body</h3>
										<h4>Content-type: {{ route.body.contentType }}</h4>
										<code v-if="route.body.contentType == 'json'">{{ JSON.stringify(route.body.json, null, 2) }}</code>
									</div>

									<div v-if="route.responses.length > 0">
										<h3>Responses</h3>
										<div v-for="response of route.responses">
											<h4>Code: {{ response.code }}</h4>

											<div v-if="response.headers">
												<h4>Headers</h4>

												<h4 v-for="header of Object.keys(response.headers)">{{ header }} - {{ response.headers[header] }}</h4>
												<hr />
											</div>
										</div>
									</div>

									<hr />
								</div>
							</v-flex>
							<v-flex xs4 pa-3 class="border">
								<h1>API Method</h1>
							</v-flex>
						</v-layout>
					</v-layout>
				</v-content>
			</v-app>
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-stripe-elements@0.2.3/dist/index.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
		<script src="https://js.stripe.com/v3/"></script>
		<script src="resolved.js"></script>
		<script>
			let Axios = axios.create({ baseURL: 'http://localhost/api', withCredentials: true })
			new Vue({
				el: '#app',
				data: () => ({
					drawer: true,
					items: [{ title: 'Home', icon: 'dashboard' }, { title: 'About', icon: 'question_answer' }],
					mini: true,
					right: null,
					resolved
				}),
				async mounted() {},
				methods: {
					handleErrors(error) {
						console.log(error)
						if (error.response.data.errors) {
							error.response.data.errors.forEach(element => {
								toastr.error(element.message)
							})
						} else if (error.response.data.message) {
							toastr.error(error.response.data.message)
						} else {
							toastr.error('Unexpected error:')
						}
					}
				}
			})
		</script>
		<style>
			.border {
				border: 1px solid red;
			}
		</style>
	</body>
</html>
